<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Static Assets" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|js|json|css|png|gif|jpg|jpeg))" />
          <action type="Rewrite" url="/{R:1}"/>
        </rule>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
		<rule name="Redirect to HTTPS">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="SAMEORIGIN" />
	  <add name="X-Content-Type-Options" value="nosniff" />
    <add name="Access-Control-Expose-Headers" value="Content-Disposition,X-Suggested-Filename"/>
	  <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
      <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
      <add name="Permissions-Policy" value="geolocation=();midi=();notifications=();push=();sync-xhr=();microphone=();camera=();magnetometer=();gyroscope=();speaker=(self);vibrate=();fullscreen=(self);payment=();"/>;
	  <add name="X-Xss-Protection" value="1; mode=block" />;
	  <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
      <add name="Pragma" value="no-cache" />
      <add name="Expires" value="0" />
	  <add name="Content-Security-Policy" value="default-src https: data: 'unsafe-inline' 'unsafe-eval' 'self'; img-src https: data: 'unsafe-inline' 'unsafe-eval' *;" />
    </customHeaders>
  </httpProtocol>
  </system.webServer>
</configuration>