<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      throwExceptions="true" >
  <!-- internalLogFile="nlog-internals.log" -->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="microservicename" value="Evolution2" />
  <variable name="LogBaseDir" value="${gdc:item=configDir}/Log"/>
  <variable name="DailyDir" value="${LogBaseDir}/${date:format=yyyy}/${date:format=MM}/${date:format=dd}"/>
  <variable name="HourlyArchive" value="${DailyDir}/${date:format=HH}-Archive/${level}-${logger}-{#######}-archived.a"/>
  <variable name="AppLogPath" value="${DailyDir}/log.log"/>
  <!-- value="${DailyDir}/${level}.log" -->

  <targets>
    <target xsi:type="File" name="file" fileName="${AppLogPath}" encoding="utf-8"  maxArchiveFiles="50"
                archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${HourlyArchive}"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />

    <target name="database" xsi:type="Database" >

      <connectionString>${gdc:item=connectionString}</connectionString>

      <commandText>
        insert into admin.Log (
        Application, Logged, Level, Message,
        Logger, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@application" layout="${var:microservicename}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="url: ${aspnet-request-url:IncludePort=true:IncludeQueryString=true} | action: ${aspnet-mvc-action} | ${message}" />

      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>

    <logger name="*" minlevel="Trace" writeTo="file" />

    <logger name="*" Level="Error" writeTo="database" />

    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

  </rules>
</nlog>