<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Added this section to support max file size upload in IIS.  -->
    <security>
      <requestFiltering>
        <!-- Remove below commented block while hosting in IIS-->
        <!-- <verbs allowUnlisted="false" applyToWebDAV="true">
          <add verb="GET" allowed="true" />
          <add verb="HEAD" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="TRACE" allowed="false" />
          <add verb="PUT" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
        </verbs> -->
        <!-- Measured in Bytes -->
        <requestLimits maxAllowedContentLength="209716200" />
        <!-- 200 MB -->
      </requestFiltering>
    </security>
    <!-- Remove below commented block while hosting in IIS-->
    <!-- <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      <remove name="WebDAV" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Evolution.Document.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" >
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="QA" />
        <environmentVariable name="SQLDatabase" value="Evolution2_QA" />
        <environmentVariable name="SQLServer" value="192.168.54.35" />
        <environmentVariable name="SQLUser" value="sa" />
        <environmentVariable name="SQLPassword" value="Ev02sql16" />
        <environmentVariable name="SQLConnectionTimeout" value="180" />
        <environmentVariable name="SQLMaxPoolSize" value="500" />
        <environmentVariable name="MongoDbIp" value="192.168.54.108" />
        <environmentVariable name="MongoDbPort" value="27017" />
        <environmentVariable name="MongoDbName" value="EvolutionDocuments" /> 
      </environmentVariables>
    </aspNetCore> -->
  </system.webServer>
</configuration>
<!--ProjectGuid: 00459908-418c-45ea-802e-152829278c21-->