<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn" >
  <!-- internalLogFile="nlog-internals.log" -->

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Configure the targets where to write the logs -->
  <targets>
    <!-- write to file -->
    <target xsi:type="File" name="logToFile" fileName="${basedir}/logs/${environment:ASPNETCORE_ENVIRONMENT}_Evolution2AppGateway_${shortdate}.log" encoding="utf-8"
				layout="${longdate}|${logger}|${uppercase:${level}}|${message}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- Use the logger targets based on name -->
    <logger name="*" minlevel="Warn" writeTo="logToFile" />

    <!--<logger name="*" Level="Error" writeTo="database" />-->
    <!-- <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" /> -->
  </rules>
</nlog>